<h1>Pet Adoption Application</h1>
<%= form_with url: "/applications", method: :post, local: true do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>

  <p><%= f.label :street_address, 'Street Address' %>
  <%= f.text_field :street_address %></p>

  <p><%= f.label :city %>
  <%= f.text_field :city %></p>

  <p><%= f.label :state %>
  <%= f.text_field :state %></p>

  <p><%= f.label :zipcode, 'Zip Code' %>
  <%= f.number_field :zipcode %></p>

  <%= f.submit 'Submit'%>
<% end %>
