<br>
<div id="applicant">
  <p><h2><%= @application.name %></h2></p>
  <p><%= @application.street_address %></p>
  <%= @application.city %>
  <%= @application.state %>
  <%= @application.zipcode %>
</div>

<div id="add_pets">
  <% unless @application.status == "Pending" %>
    <h3>Add a Pet to this Application</h3>
    <%= form_with url: "/applications/#{@application.id}?search=search", method: :get, local: true do |f| %>
      <p><%= f.label :search, "Pet Name:" %>
      <%= f.text_field :search %>
      <%= f.submit "Search" %></p>
    <% end %>
  <% end %>

  <% if @pets.present? %>
    <table>
      <% @pets.each do |pet| %>
        <div id="pet-<%= pet.id %>">
          <tr>
            <td><strong><%= link_to pet.name, "/pets/#{pet.id}" %></strong></td>
            <td><strong><%= button_to "Adopt this Pet", "/pet_applications", params: {pet_id: pet.id, application_id: @application.id} %></strong></td>
          </tr>
        </div>
      <% end %>
    </table>
  <% end %>
</div>

<div id="adopt_pets">
  <% if @application_pets.present? %>
    <h3>Pets in Application:</h3>
    <% @application_pets.each do |pet| %>
      <p><h4><%= link_to pet.name, "/pets/#{pet.id}" %></h4>
      <p>Age: <%= pet.age %></p>
      Breed: <%= pet.breed %>
    <% end %>
    <% unless @application.status == "Pending" %>
      <p><h3>Submit Adoption Application</h3></p>
      <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
        <p><%= f.label :description, "Why I Would Make a Good Pet Owner:" %></p>
        <p><%= f.text_area :description %></p>
        <%= f.hidden_field :status, value: "Pending" %>
        <%= f.submit "Submit Adoption Application" %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div id="submit">
  <% if @application.status == "Pending" %>
    <p><h3>I would make a good pet owner because:</h3></p>
    <%= @application.description %>
  <% end %>

<p><h3>Application Status: <%= @application.status %></h3></p>
</div>
